{{> header}}

<h1>Fastify Webapp Tutorial</h1>
<h2>Hello</h2>
<ul>
    <li><a href="/hello">hiya</a></li>
    <li><a href="/hello/‰∏≠Êñá">‰∏≠Êñá</a></li>
    <li><a href="/hello/Deutsch">Deutsch</a></li>
    <li><a href="/hello/English">English</a></li>
</ul>
<h2>Excerpts</h2>
<ul>
    <li><a href="/excerpts/add">Add Excerpt</a></li>
    <li><a href="/excerpts">Excerpts</a></li>
</ul>

{{> footer}}
